@model CSharpDotNetCoreHW6.Models.BirthdayCardModel
@{
    Layout = "_Layout";
}
<h1 style="margin-top:3.7rem;">Birthday Card Sent</h1>

<p>From: @Model.From</p>
<p>To: @Model.To</p>
<p>Message: @Model.Message</p>
